@namespace KnowledgeHub.Components

@inject CategoriesService CategoriesService

@if (categories == null)
{
    @* TODO: Display a skeleton representing the format below, possibly create a separate component *@
}
else
{
    <div id="categories-grid" class="mb-8 gap-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
        @foreach (var category in categories)
        {
            <a href="#" class="p-6 bg-white border-gray-200 block rounded-lg border shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-gray-900 text-2xl font-bold tracking-tight dark:text-white">@category.Name</h5>
                <p class="text-gray-700 font-normal dark:text-gray-400">@category.Count Articles</p>
            </a>
        }
    </div>
}

@code
{
    private List<Category>? categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await CategoriesService.GetCategoriesAsync();
    }
}