::deep pre {
    background: var(--tw-prose-pre-bg) !important;
    position: relative;
}

    ::deep pre[class*=language-] {
        overflow: hidden;
        margin-bottom: 1rem;
        padding: 0;
    }

    ::deep pre code {
        display: block;
        overflow: auto;
        padding: 1rem;
    }

        ::deep pre code[class*=language-] {
            color: var(--tw-prose-pre-code) !important;
            text-shadow: 0 1px var(--tw-prose-pre-bg) !important;
        }

::deep .copy-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
    color: white;
    border-radius: 0.375rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
}

    ::deep .copy-button:focus {
        outline: none;
        box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.3);
    }

    ::deep .copy-button:hover {
        background-color: #1d4ed8;
    }