@page "/"
@attribute [StreamRendering]

@inject ArticlesManager ArticlesManager

@if (isLoading)
{
    <PageLoader />
}
else if (articles == null)
{
    <DangerAlert Message="No articles found yet." />
}
else
{
    @foreach (var article in articles)
    {
        <a href="Articles/@article.Id">@article.Title</a>
    }
}

@code
{
    private List<Article>? articles;
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            isLoading = true;

            var result = await ArticlesManager.GetArticlesAsync();
            articles = result.Items;
        }
        finally
        {
            isLoading = false;
        }
    }
}