<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.output.css"]" />
    <link rel="stylesheet" href="@Assets["KnowledgeHub.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body class="bg-white text-gray-900 font-sans antialiased dark:bg-gray-800 dark:text-white">
    <Routes />
    <script src="_lib/flowbite/dist/flowbite.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script>
        Blazor.addEventListener("enhanchedload", () => {
            initFlowbite();
        })
    </script>
</body>

</html>
